<app-generic
  pageTitle="OCR Takip Paneli"
  [breadcrumbs]="[{ title: 'OCR Takip', url: 'ocrtakip', icon: '' }]"
></app-generic>
<div class="row">
    <div class="col-md-9 col-12">
        <div class="card">
            <div
                class="card-header d-flex justify-content-between align-items-center">
                <h4 class="m-0">Birim Bazlı Anahtar Kelime Tanımlama</h4></div>

<div class="container p-3">

  <div class="mb-3 col-md-4">
    <label class="form-label">Birim</label>
    <!-- <select class="form-select" [(ngModel)]="selectedUnit">
      <option [ngValue]="null" disabled>Birim seçiniz</option>
      <option *ngFor="let unit of units" [ngValue]="unit.code">
        {{ unit.name }}
      </option>
    </select> -->
  </div>

  <div class="mb-3 col-md-6">
    <label class="form-label">Anahtar Kelime</label>
    <div class="input-group">
      <input
        type="text"
        class="form-control"
        [(ngModel)]="keywordInput"
        (keyup.enter)="addKeyword()"
        placeholder="29 Ekim kutlama mesajları"
      />
      <button class="btn btn-primary" (click)="addKeyword()">Ekle</button>
    </div>
  </div>

  <!-- <div class="mb-3 col-md-6" *ngIf="keywords.length">
    <ul class="list-group">
       <li
        class="list-group-item d-flex justify-content-between align-items-center"
        *ngFor="let keyword of keywords; index as i"
      >
        {{ keyword }}
        <button
          class="btn btn-sm btn-outline-danger"
          (click)="removeKeyword(i)">
          Sil
        </button>
      </li> 
    </ul>
  </div> -->

  <div class="d-flex gap-2">
    <button
      class="btn btn-success"
      [disabled]="!selectedUnit || !keywords.length"
      (click)="saveKeywords()">
      Kaydet
    </button>

    <button class="btn btn-secondary" (click)="resetForm()">
      Temizle
    </button>
  </div>

</div>
  </div></div>