<title>Dijital Evrak Takip Sistemi : Login</title>

<div class="d-flex justify-content-center align-items-center" style="height: 90vh;">
  <div class="login-container">
    <div class="login-card d-flex">

      <!-- SOL TARAF (Login Form) -->
      <div class="login-left">
        <div class="brand-section">
          <div class="brand-logo">
            <img src="assets/images/mfa_logo.png"
                 width="150" height="150" alt="Logo"
                 style="margin-left: 10px;margin-top: 2px;" />
          </div>
        </div>

        <form #form="ngForm" (ngSubmit)="signIn(form)" autocomplete="off">

          <div class="form-group mt-3">
            <label for="username" class="form-label">Kullanıcı Adı</label>
            <div class="input-group">
              <span class="input-icon material-symbols-outlined">person</span>
              <input type="username" class="form-control with-icon"
                     id="username" ngModel name="userName"
                     placeholder="Kullanıcı Adı" required>
            </div>
          </div>

          <div class="form-group mt-3">
            <label for="password" class="form-label">Şifre</label>
            <div class="input-group">
              <span class="input-icon material-symbols-outlined">lock</span>
              <input type="password" class="form-control with-icon"
                     id="password" ngModel name="password"
                     placeholder="********" required>
            </div>
          </div>

          <div class="form-check mt-3">
            <input type="checkbox" class="form-check-input"
                   id="rememberMe" ngModel name="rememberMe">
            <label for="rememberMe" class="form-check-label">Beni Hatırla</label>
          </div>

<button type="submit"
        class="btn-login mt-3"
        id="loginBtn"
        [disabled]="isLoading">

  <span *ngIf="!isLoading">Giriş Yap</span>

  <span *ngIf="isLoading">
    Giriş yapılıyor...
  </span>

</button>

        </form>
      </div>

      <!-- SAĞ TARAF (Füme Panel) -->
<div class="login-right">
  <div class="login-right-content">
    <h1 class="login-title">T.C. Dışişleri Bakanlığı</h1>
    <p class="login-subtitle">Dijital Evrak Takip Sistemi</p>
        <span *ngIf="isLoading" class="d-flex align-items-center justify-content-center mt-1">
  <span class="spinner-border spinner-border-sm me-2"></span>
 <span class="spinner-text"> Giriş yapılıyor...</span>
</span>
  </div>

  <div class="login-version">
    v1.0.0
  </div>
</div>


    </div>

  </div>
</div>
