<app-generic pageTitle="Giden Evrak Teslim Al"
    [breadcrumbs]="[{title: 'Giden Evrak Teslim Al', url: 'onkayit', icon:''}]">
</app-generic>
<div class="row">
    <div class="col-md-7 col-12">
        <div class="card page-wrapper">
            <div
                class="card-header d-flex justify-content-between align-items-center">
                <h4 class="m-0">
                    <span class="nav-icon material-symbols-outlined"
                        style="font-size: 22px;">approval_delegation</span>Giden
                    Evrak Teslim Al</h4></div>
            <div
                class="alert alert-info d-flex align-items-center justify-content-between mx-5 mt-4"
                role="alert">
                <div
                    class="qr-icon-wrapper d-flex align-items-center justify-content-center me-3">
                    <span
                        class="material-symbols-outlined qr-icon"
                        style="cursor:pointer" 
                        title="QR Kod Beklenmektedir.">
                        qr_code_scanner
                    </span>
                </div>
                
                <div
                    class="qr-panel-content position-relative flex-grow-1 pt-3 mb-3">
                    <h5 class="mb-1 qr-title">QR Kodu Okutunuz</h5>
                    <p class="mb-0 qr-description">
                        Teslim almak için zarf veya belge üzerindeki QR
                        kodu
                        okutunuz.
                    </p>

                    <span
                        class="material-symbols-outlined qr-panel-next pb-1"
                        title="Manuel okut" >
                        arrow_forward
                    </span>
                </div>
            </div>


        </div>
    </div>
    
    <div class="col-md-5 col-12"> 
            <div class="card info-panel h-100" *ngIf="documents.length == 0">
            <div class="card-header">
                <h6 class="m-0">Bilgilendirme</h6>
            </div>
            <div class="card-body">
                <div class="info-item mt-2">
                    <span class="material-symbols-outlined sec-icon">
                        info
                    </span>
                    <div>
                        <strong>QR Okuma</strong>
                        <p class="mb-0">
                            Sistem QR kod okuyucu ile zarf üzerindeki QR kodu okutmanızı
                            beklemektedir.
                        </p>
                    </div>
                </div>
                <div class="detail-card-hr"></div>
                <div class="info-item mt-4">
                    <span class="material-symbols-outlined sec-icon">
                        keyboard
                    </span>
                    <div>
                        <strong>Manuel Giriş</strong>
                        <p class="mb-0">
                            QR kod okuma sırasında sorun yaşıyorsanız, <b>zarf</b> üzerindeki
                            etiket numarasını manuel olarak girerek zarf içindeki evrakları teslim alabilirsiniz.
                        </p>
                        <div class="qr-wait-cardOther mt-2">
                            <input #qrInput
                                type="text"
                                class="form-control qr-result-input2 mt-2" />

                            <button class="qr-manual-btn2"
                                (click)="onQrScanned(qrInput.value)">
                                Evrakları Göster
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card page-wrapper" *ngIf="documents.length > 0">
            <div>
                <div [class.show-filters]="showFilters"
                    class="zimmet-fixed-grid">
                    <flexi-grid
                        [data]="documents"
                        language="tr"
                        [showCaption]="true"
                        [captionTitle]="getCaptionTitle()"
                        [loading]="loading">
                        <ng-template flexiGridCaptionCommandTemplate>
                            <flexi-button
                                btnIcon="filter_alt"
                                btnColor="light"
                                title="Filtre Aç/Kapat"
                                flexiTooltip
                                (click)="showFilters = !showFilters">
                            </flexi-button></ng-template>
                        <flexi-grid-column field="qrCode"
                            title="Belge No" width="200px" />

                        <flexi-grid-column title="Ekleme Tarihi" width="150px">
                            <ng-template flexiGridCellTemplate let-item>
                                {{ item.createdDate | date:'dd.MM.yyyy HH:mm' }}
                            </ng-template>
                        </flexi-grid-column>

                    </flexi-grid>

<div *ngIf="!loading && documents.length === 0" class="text-center mt-3">
    Gösterilecek belge yok
</div>
                </div>
<div class="d-flex justify-content-center mt-2 gap-3">
        <button class="btn btn-secondary d-flex align-items-center gap-1" (click)="reset()" title="Ekranı Sıfırla">
       <span class="material-symbols-outlined">
  arrow_circle_left
</span> Geri Dön
    </button>
    <button class="zimmet-btn w-25" (click)="addZimmet()">
        Teslim Al
    </button>



</div>
            </div>
        </div>
    </div>
</div>