<app-generic pageTitle="Zarf Etiketi Oluştur"
    [breadcrumbs]="[{ title: 'Zarf Etiketi Oluştur', url: 'envelopes', icon: '' }]">
</app-generic>
<print-preview
    *ngIf="previewOpen"
    [data]="previewData"
    [isLabel]="true"
    (closed)="previewOpen = false">
</print-preview>
<div class="row">
    <!-- SOL PANEL -->
    <div class="col-md-4 col-12">
        <div class="card page-wrapper">
            <div class="card-body">
                <h5 class="mb-4">Etiket Oluştur</h5>
                <hr class="my-3">

                <!-- Gideceği Kurum -->
                <div class="form-group mb-3">
                    <label>Gideceği Kurum</label>
                    <app-simple-autocomplete
                        [control]="externalInstitutionControl"
                        [options]="externalInstitutions"
                        placeholder="Kurum seçiniz">
                    </app-simple-autocomplete>
                </div>

                <!-- Birim Adı -->
                <div class="form-group mb-3">
                    <label>Birim Adı</label>
                    <input
                        type="text"
                        class="form-control"
                        [(ngModel)]="model.unitName"
                        placeholder="Birim adı giriniz">
                </div>

                <!-- Adres -->
                <div class="form-group mb-3">
                    <label>Adres</label>
                    <textarea
                        class="form-control"
                        rows="2"
                        [(ngModel)]="model.address"
                        placeholder="Adres giriniz"></textarea>
                </div>

                <!-- Gönderen Birim -->
                <div class="form-group mb-4" style="display: none;">
                    <label>Gönderen Birim</label>
                    <input
                        type="text"
                        class="form-control"
                        [(ngModel)]="model.departmentId">
                </div>

                <!-- Kaydet -->
                <div class="d-flex justify-content-end">
                    <button
                        class="qr-manual-btn px-4"
                        (click)="createEnvelope()">
                        Etiket Oluştur
                    </button>
                </div>
            </div>
        </div>
    </div>

    <!-- SAĞ PANEL -->
    <div class="col-md-4 col-12">
        <div class="card page-wrapper">
                <div class="card-header">
                <h4 class="m-0">Önizleme</h4>
            </div>
            <div class="card-body" [ngClass]="{'gradient-bg': previewEnvelope}">
                <div
                    class="position-relative d-flex justify-content-center align-items-center mt-3">
                    <div *ngIf="previewEnvelope">
                        <div class="envelope-label" id="print-area">
                            <div class="label-box sender-box">
                                <div class="label-title">Gönderen</div>
                                <div class="label-content">
                                    {{user()?.departmentName}}
                                </div>
                                <div class="ministry-row">
                                    <div class="ministry">
                                        T.C. DIŞİŞLERİ BAKANLIĞI
                                    </div>
                                    <div class="label-contentPostCode">
                                        06520
                                    </div>
                                </div>
                            </div>

                            <!-- QR -->
                            <div class="qr-section">
                                <img
                                    [src]="'https://api.qrserver.com/v1/create-qr-code/?size=100x100&data=' + previewEnvelope.envelopeNo"
                                    alt="QR Code">
                            </div>

                            <!-- NUMARA -->
                            <div class="label-number">
                                {{ previewEnvelope.envelopeNo }}
                            </div>

                            <!-- ALICI -->
                            <div class="label-box receiver-box">
                                <div class="label-title">Alıcı</div>
                                <div class="label-External">
                                    {{ previewEnvelope.externalInstitutionName
                                    || '-' }}
                                </div>
                                <div class="labelDepartment">
                                    {{ previewEnvelope.unitName }}
                                </div>
                                <div class="labelAddress">
                                    {{ previewEnvelope.address || '-' }}
                                </div>

                            </div>

                        </div>
                        <div class="text-end mt-3 me-3">
                            <button class="qr-manual-btn2"
                                (click)="directPrint()">
                                <span
                                    class="material-symbols-outlined me-1 mb-1 mt-1">
                                    print </span> Yazdır
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- ÜÇÜNCÜ PANEL -->
    <div class="col-md-4 col-12">
        <div class="card page-wrapper">
            <div class="card-body" *ngIf="previewEnvelope">
                <h5 class="mb-4">Evrak Ekle</h5>
                <hr class="my-3">
                <div
                    class="alert d-flex align-items-center justify-content-between alert-qr"
                    [class.active]="qrActive"
                    [class.alert-info]="!qrActive"
                    [class.alert-success]="qrActive"
                    (click)="toggleQr()"
                    style="cursor: pointer; position: relative;">

                    <div class="d-flex align-items-center">
                        <span
                            class="material-symbols-outlined labelQrIcon me-2">
                            {{ qrActive ? 'qr_code_2' : 'qr_code_scanner' }}
                        </span>
                        <span>
                            {{ qrActive ? 'QR kod okuma aktif' :
                            'QR kod okumayı aktifleştir' }}
                        </span>
                    </div>

                    <input type="checkbox" [checked]="qrActive" readonly
                        style="margin-left:10px;">
                    <div> <input
                            #qrInput
                            type="text"
                            class="form-control"
                            (keydown)="onQrKeydown($event)"
                            autocomplete="off"></div>
                </div>
                <!-- Gizli input qr-hidden-input-->

                <div class="table-wrapper">
                    <div class="table-container">
                        <table class="table table-sm premium-table"
                            *ngIf="documents.length > 0">
                            <thead>
                                <tr>
                                    <th>Evrak Numarası</th>
                                    <th style="width:120px"></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let doc of documents">
                                    <td>{{ doc.qrCode }}</td>
                                    <td>
                                        <button class="premium-btn"
                                            (click)="removeDocument(doc.id)"
                                            [disabled]="loadingRemove"
                                            title="Evrakı çıkar">
                                            <span *ngIf="loadingRemove"
                                                class="spinner-border spinner-border-sm text-white"></span>
                                            <span *ngIf="!loadingRemove"
                                                class="material-symbols-outlined">
                                                delete
                                            </span>
                                        </button>
                                    </td>
                                </tr>
                            </tbody>
                        </table></div>

                    <div class="table-loading" *ngIf="loading">
                        <div class="spinner-border text-primary"></div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>