<app-generic pageTitle="Ön Kayıt"
    [breadcrumbs]="[{title: 'Ön Kayıt', url: 'onkayit', icon:''}]">
</app-generic>
<print-preview
    *ngIf="previewOpen"
    [data]="previewData"
    (closed)="previewOpen = false">
</print-preview>
<div class="row">
    <div class="col-md-9 col-12">
        <div class="card" style="height: 700px;">
            <div
                class="card-header d-flex justify-content-between align-items-center">
                <h4 class="m-0">
                    <span class="nav-icon material-symbols-outlined"
                        style="font-size: 22px;">app_registration</span>Ön
                    Kayıt</h4>
                <button type="button"
                    class="btn btn-outline-secondary btn-sm d-flex align-items-center"
                    (click)="backToQrScan()" *ngIf="backButtonVisible()">
                    <span class="material-symbols-outlined me-1"
                        style="font-size: 18px;">arrow_back_2</span>
                    Ön Kayıt Ekranına Dön
                </button>
            </div>
            <div
                class="alert alert-info d-flex align-items-center justify-content-between mx-5 mt-5"
                role="alert"
                *ngIf="alertVisible()">

                <!-- Sol büyük QR icon -->
                <div
                    class="qr-icon-wrapper d-flex align-items-center justify-content-center me-3">
                    <span class="material-symbols-outlined qr-icon"
                        style="cursor: pointer;" (click)="onQrScanned('')"
                        title="QR Kod Beklenmektedir.">
                        barcode_reader
                    </span>
                </div>

                <!-- Sağ içerik + arrow -->
                <div
                    class="qr-panel-content position-relative flex-grow-1 pt-3 mb-3">
                    <h5 class="mb-1 qr-title">QR Kodu Okutunuz</h5>
                    <p class="mb-0 qr-description">
                        Ön kayıt işlemini tamamlamak için belge üzerindeki QR
                        kodu, QR kod okuyucunuz ile okutunuz.
                    </p>

                    <span class="material-symbols-outlined qr-panel-next pb-1"
                        title="Manuel okut"
                        (click)="onQrScanned('')">
                        arrow_forward
                    </span>
                </div>

            </div>
            <div class="container-fluid" *ngIf="detailsVisible()">
                <ng-container *ngIf="docStatus() === 1; else completedMsg">
                    <div class="process-title mt-4 mb-4 text-muted">
                        Evrak Daha Önce Kaydedilmiş
                    </div>
                </ng-container>

                <ng-template #completedMsg>
                    <div class="process-title mt-4 mb-4 text-success">
                        Ön Kayıt ve Zimmetleme Tamamlandı
                    </div>
                </ng-template>

                <div class="row process-wrapper">
                    <!-- ÖN KAYIT -->
                    <div
                        class="col-md-4 d-flex justify-content-center align-items-stretch">
                        <div class="card process-card">
                            <div class="card-header process-header pre-header">
                                <span
                                    class="material-symbols-outlined me-2">inventory</span>
                                Ön Kayıt
                            </div>
                            <div class="card-body process-body">
                                <div class="text-center">

                                    <div class="user-name"
                                        *ngIf="allocations()">
                                        {{ allocations()?.fullName }}
                                    </div>

                                    <div class="user-date"
                                        *ngIf="allocations()">
                                        {{
                                        allocations()?.createdDate
                                        ? (allocations()?.createdDate |
                                        date:'dd.MM.yyyy HH:mm')
                                        : 'Tarih yok'
                                        }}
                                    </div>

                                    <div class="qr-area"
                                        *ngIf="scannedDocumentNo()">
                                        <qrcode
                                            [qrdata]="scannedDocumentNo()!"
                                            [width]="110"
                                            [errorCorrectionLevel]="'H'">
                                        </qrcode>
                                        <div class="qr-number">
                                            {{ scannedDocumentNo() }}
                                        </div>
                                    </div>
                                </div>

                                <div class="process-footer">
                                    <span
                                        class="material-symbols-outlined process-icon"
                                        title="Ön Kayıt Yapıldı">
                                        save
                                    </span>
                                    <span
                                        class="material-symbols-outlined process-icon"
                                        title="Zimmetleme Yapıldı">
                                        contract_edit
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- ARROW -->
                    <div
                        class="col-md-4 d-flex justify-content-center align-items-center">
                        <div class="step-arrow-wrapper">
                            <div class="step-text">
                                Opsiyonel
                            </div>
                            <span class="material-symbols-outlined step-arrow">
                                arrow_forward
                            </span>
                        </div>
                    </div>
                    <!-- DİLEKÇE -->
                    <div
                        class="col-md-4 d-flex justify-content-center align-items-stretch">
                        <div class="card process-card">
                            <div
                                class="card-header process-header petition-header">
                                <span
                                    class="material-symbols-outlined me-2">description</span>
                                Dilekçe
                            </div>
                            <div class="card-body process-body">
                                <div class="form-group mb-3">
                                    <label class="form-label">Ad Soyad</label>
                                    <input
                                        type="text"
                                        maxlength="200"
                                        class="form-control modern-input"
                                        [(ngModel)]="fullName">

                                </div>

                                <div class="form-group mb-4">

                                    <label class="form-label">T.C. Kimlik
                                        No</label>

                                    <input
                                        type="text"
                                        maxlength="11"
                                        class="form-control modern-input"
                                        [(ngModel)]="tckn"
                                        (keydown)="allowOnlyNumbers($event)">

                                </div>

                                <button
                                    class="btn petition-btn"
                                    (click)="openPreview()">
                                    <span
                                        class="material-symbols-outlined me-1">
                                        description
                                    </span>
                                    Başvuru Alındı Belgesi
                                </button>
                                <div class="petition-info">
                                    * Alındı belgesinin çıktısı alınarak dilekçe
                                    sahibine teslim edilmelidir.
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <!-- SAĞ INFO PANEL -->
    <div class="col-md-3 col-12" *ngIf="!detailsVisible()">
        <div class="card info-panel h-100">
            <div class="card-header">
                <h6 class="m-0">Bilgilendirme</h6>
            </div>
            <div class="card-body">
                <div class="info-item mt-2">
                    <span class="material-symbols-outlined sec-icon">
                        info
                    </span>
                    <div>
                        <strong>QR Okuma</strong>
                        <p class="mb-0">
                            Sistem QR kod okuyucu ile QR kodu okutmanızı
                            beklemektedir.
                        </p>
                    </div>
                </div>
                <div class="detail-card-hr"></div>
                <div class="info-item mt-4">
                    <span class="material-symbols-outlined sec-icon">
                        keyboard
                    </span>
                    <div>
                        <strong>Manuel Giriş</strong>
                        <p class="mb-0">
                            QR kod okuma sırasında sorun yaşıyorsanız, evrak
                            numarası manuel olarak girerek evrakın ön kaydını ve
                            zimmetlemesini yapabilirsiniz.
                        </p>
                        <div class="qr-wait-cardOther mt-2">
                            <input #qrInput
                                type="text"
                                class="form-control qr-result-input2 mt-2" />

                            <button class="qr-manual-btn2"
                                (click)="onQrScanned(qrInput.value)">
                                Ön Kayıt Oluştur
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
