<app-generic pageTitle="Evrak Süreç Akışı" [breadcrumbs]="[
  {title: 'Taranmış Evraklar', url: 'scanlist', icon: ''},
  {title: 'Evrak Süreç Akışı', url: 'create', icon: 'conversion_path'}
  ]">
</app-generic>

<div class="row">
    <div class="col-md-9 col-12">
        <div class="card">
            <div class="card-header" style="display: flex; justify-content: space-between; align-items: center;">
                <h4>Evrak Süreç Akışı</h4>
            </div>
            <div class="card h-100ß">
                <div class="card-body">
                    <div class="activity-list">
                             <div class="row">
                                
                            <app-transaction-flow
                                [items]="transactions()">
                            </app-transaction-flow>
                     </div>

                    </div>
                </div>
            </div>
        </div>
    </div>

       <div class="col-md-3 col-12"
        *ngIf="documentDetail() as doc">
        <div class="card">
            <!-- QR -->
            <div class="d-flex justify-content-center mt-5">
                @if (doc.id) {
                <div>
                    <qrcode [qrdata]="doc.qrCode!"
                        [width]="120"
                        [errorCorrectionLevel]="'H'"></qrcode>
                    <div class="fw-semibold text-center"
                        style="font-size: 16px; font-weight: 500;">
                        {{ doc.qrCode }}
                    </div>
                </div>
                }
            </div>
            <!-- BELGE ÖZETİ -->
            <div class="card shadow-sm border-0 bg-white">
                <div class="card-body">

                    <div class="d-flex align-items-center mb-1 mt-1">
                        <h5 class="fw-bold m-1">
                            Evrak Bilgileri
                        </h5>
                    </div>

                    <hr class="mt-2 mb-4" style="opacity: .15;">
                    <div class="row gy-3">

                        <div class="col-12">
                            <div class="text-muted small">Konu</div>
                            <div class="fw-semibold">
                                {{ doc.subject }}
                            </div>
                        </div>

                        <div class="col-6">
                            <div class="text-muted small">Belge Orjinal No</div>
                            <div class="fw-semibold">
                                {{ doc.orginalNo }}
                            </div>
                        </div>

                        <div class="col-6">
                            <div class="text-muted small">Tarih</div>
                            <div class="fw-semibold">
                                {{ doc.documentDate | date:'dd.MM.yyyy' }}
                            </div>
                        </div>

                        <div class="col-12 mb-5">
                            <div class="text-muted small">Gizlilik
                                Derecesi</div>

                            <span class="badge rounded-pill px-3 py-2 mt-1"
                                [ngClass]="securityDegreeStyle[doc.securityDegree]">
                                {{ securityDegreeMap[doc.securityDegree] || '-'
                                }}
                            </span>
                        </div>

                    </div>

                </div>
            </div>
        </div>
    </div>
</div>