<div id="sidebar-wrapper">

  <div class="sidebar-brand d-flex align-items-center justify-content-between">
    <a routerLink="/" class="d-flex gap-3 logo mt-1">
      <img src="assets/images/logo.png" width="190" height="60" />
    </a>
  </div>

  <div class="sidebar-search">
    <div class="position-relative">
      <input
        type="text"
        class="form-control sidebar-search-input"
        [(ngModel)]="search"
        placeholder="arama ..."
      />

      <span class="material-symbols-outlined sidebar-search-icon">
        search
      </span>
    </div>
  </div>

  <ul class="nav-menu">

    @for (item of (navigations() | searchMenu: search()); track item.title ?? item.category) {

      @if (item.category) {
        <li class="nav-category">
          {{ item.category }}
        </li>
      } @else {
        <li class="nav-item">
          <a [routerLink]="item.url"
             routerLinkActive="active"
             [routerLinkActiveOptions]="{ exact: true }"
             class="nav-link">

            <span class="nav-icon material-symbols-outlined">
              {{ item.icon }}
            </span>

            <span>{{ item.title }}</span>

          </a>
        </li>
      }

    }

  </ul>

  <div class="sidebar-sticky-menu">

    <a routerLink="/settings" class="sticky-menu-item">
      <span class="material-symbols-outlined">settings</span>
    </a>

    <a routerLink="/help" class="sticky-menu-item">
      <span class="material-symbols-outlined">help</span>
    </a>

    <a routerLink="/login" class="sticky-menu-item">
      <span class="material-symbols-outlined">logout</span>
    </a>

  </div>

</div>